// 변수

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 600px;

$color-primary: #a0b3cc;
$color-secondary: #aec0d3;

$color-gray-1: #ffffff;
$color-gray-2: #f4f6f8;
$color-gray-3: #efeeee;
$color-gray-4: #cfcfcf;
$color-gray-5: #231f20;
$color-gray-6: #666666;
$color-gray-7: #cecece;
$color-gray-8: #bfbcbc;
$color-gray-9: #9f9c9c;

$color-gray-input: #a8b9d0;

$color-gray-footer: #3c3c44;
$color-black-text: #383333;

$color-components-1: #fae100;
$color-components-2: #fa0000;
