// 변수

$breakpoint-desktop: 1024px;
$breakpoint-tablet: 600px;

$color-primary : #A0B3CC;
$color-secondary: #AEC0D3;

$color-gray-1: #FFFFFF;
$color-gray-2: #F4F6F8;
$color-gray-3: #EFEEEE;
$color-gray-4: #CFCFCF;
$color-gray-5: #231F20;
$color-gray-6: #666666;
$color-gray-7: #CECECE;

$color-gray-input: #A8B9D0;


$color-components-1: #FAE100;
$color-components-2: #FA0000;
;








