@import "../mixin";

.category-view {
  box-sizing: border-box;
  padding: 91px 0;
  @include layout(column, center, flex-start);

  .page-header {
    img {
      margin-left: 5.7px;
    }
  }
}

// 콘텐츠 컴포넌트
.contents-component {
  width: 590px;
  // height: 120px;
  border-bottom: 1px solid $color-gray-2;
  @include layout(row, flex-start, space-between);
  margin-bottom: 17px;
  p {
    margin: 0;
  }

  .contents__wrapper-col {
    @include layout(column, flex-start, flex-start);
    // 콘텐츠 - 제목
    .contents__title {
      @include font(18px, 400, $color-black-text);
      margin-bottom: 6px;
    }
    // 콘텐츠 - 내용
    .contents__contents {
      @include font(14px, 400, $color-gray-10);
      line-height: 19px;
      margin-bottom: 30px;
      margin-right: 19px;
    }
    .contents__inner {
      @include layout(row, flex-end, space-between);
      width: 100%;
      margin-bottom: 11px;

      // 콘텐츠 - 도메인, 날짜
      .contents__domain {
        @include font(12px, 400, $color-primary);
      }
      .contents__btn-wrapper {
        @include layout(row, flex-end, space-between);
        gap: 4px;
        margin-right: 8.3px;
        button {
          img {
            width: 16px;
          }
        }
      }
    }
  }
  .contents__wrapper {
    // 콘텐츠 - 이미지
    .contents__img {
      width: 109px;
      height: 113px;
      background-color: $color-gray-2;
      position: relative;
      z-index: -100;
      .contents__expiryDate {
        height: 17px;
        padding: 0 10px;
        @include font(11px, 400, $color-gray-1);
        position: absolute;
        z-index: 120;
        top: 0;
        right: 0;
        background-color: $color-components-2;
      }
    }
  }
}
