@import "../mixin";

// (공통)콘텐츠
.content {
  @include layout(column, center, center);
  margin-bottom: 26px;

  header {
    height: 64px;
    background-color: $color-gray-1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 16px 25px 16px 0;
    @include layout(row, center, space-between);
    width: 100%;
    .content__header {
      width: 100%;
      padding: 0 0 0 25px;
      cursor: pointer;
    }
    h3 {
      @include font(18px, 700, $color-gray-5);
    }
    button {
      background-color: transparent;
    }
  }
}

// (공통)콘텐츠 목록
.contents-lists {
  width: 100%;
  height: auto;
  max-height: 417px;
  overflow-y: scroll;
  background-color: $color-gray-1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
  padding: 16px 25px;
  @include layout(column, flex-start, flex-start);
  position: relative;
  top: -10px;
  // left: 0px;
  // 개별 콘텐츠 하나
  .contents-list {
    width: 100%;
    border-bottom: 1px solid $color-gray-2;
    padding: 8px 0 7px 0;
    @include layout(row, center, space-between);
    .contents-list__wrapper {
      @include layout(row, center, flex-start);
      .contents-list__expiry {
        background-color: $color-components-2;
        @include font(11px, 400, $color-gray-1);
        box-sizing: border-box;
        padding: 2px 5px;
        margin: 0 6px 0 12px;
      }
      .contents-list__icon {
        margin-right: 4px;
        @include layout(column, center, center);
      }
      button {
        margin: 0 6px 0 6px;
        @include layout(row, center, center);
      }
      .contents-list__title {
        @include font(14px, 400, $color-black-text);
      }
    }
  }
}

.contents__wrapper {
  @include layout(row, flex-start, space-between);
}

.contents__wrapper-wrap {
  @include layout(row, flex-start, space-between);
  flex-wrap: wrap;
}

// 전체 콘텐츠
.all-content {
  @extend .content;
  width: 49%;
}

// 미분류 콘텐츠
.unclassified-content {
  @extend .content;
  width: 49%;
}

/********* 즐겨찾기 *********/

// 즐겨찾기 콘텐츠
.favorite-content {
  width: 100%;
  @extend .content;
  .favorite-content__header-wrapper {
    cursor: pointer;
    width: 100%;
    padding: 0 0 0 25px;
    @include layout(row, center, flex-start);
    img {
      margin-left: 5px;
    }
  }
}

.favorite-lists {
  height: 180px;
  width: 100%;
  background-color: $color-gray-1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
  border-radius: 0px 0px 10px 10px;
  box-sizing: border-box;
  padding: 5px 19px 24px 19px;
  overflow-y: scroll;
  position: relative;
  flex-wrap: wrap;
  @include layout(row, flex-start, flex-start);
  gap: 18px;
  top: -10px;
  .favorite-list {
    height: 170px;
    .favorite-list__wrapper {
      @include layout(column, flex-start, center);
      .favorite-list__img-wrapper {
        @include layout(column, flex-start, center);
        margin-bottom: 5px;
        .favorite-list__img {
          width: 158px;
          height: 97px;
          background-color: $color-gray-7;
          position: relative;
          img {
            width: 100%;
            height: 100%;
          }
          .favorite-list__expiry {
            background-color: $color-components-2;
            @include font(11px, 400, $color-gray-1);
            box-sizing: border-box;
            padding: 2px 5px;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
      .favorite-list__btn-wrapper {
        display: flex;
        gap: 5px;
        position: relative;
        bottom: 23px;
        left: 110px;
      }
      .favorite-list__title {
        @include font(14px, 400, $color-black-text);
        margin: 0 0 5px 0;
        width: 158px;
        cursor: pointer;
      }
      .favorite-list__inner {
        @include layout(row, center, flex-start);
        gap: 5px;
        @include font(10px, 400, $color-primary);
      }
    }
    .favorite-list__wrapper-text {
      @extend .favorite-list__wrapper;
      margin-top: -16px;
    }
  }
}
