@import "../mixin";

.header {
  background-color: $color-primary;
  height: 62px;
  box-sizing: border-box;
  padding: 12px 177px;

  nav {
    height: 100%;
    @include layout(row, center, space-between);
    .nav__wrapper {
      @include layout(row, center, flex-start);
      .input__search__wrapper {
        position: relative;
        width: 531px;
        margin-right: 28px;
        .btn__search {
          position: absolute;
          z-index: 10;
          right: 21px;
          top: 5px;
          background-color: transparent;
        }
      }
    }
  }
  // 햄버거 메뉴 펼쳐졌을 때
  .burger-menu__nav {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 240px;
    background-color: $color-gray-1;
    z-index: 30;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 60px 24px;
    overflow-y: scroll;
    .burger-menu__nickname {
      @include font(20px, 400, $color-black-text);
      margin-top: 30px;
      box-sizing: border-box;
      text-align: center;
      display: block;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      #burger-menu__nav-category {
        cursor: auto;
        margin: 40px 0 20px 0;
        img {
          margin-right: 10px;
          width: 15px;
        }
      }
      li {
        margin-left: 18px;
        line-height: 40px;
        @include font(20px, 400, $color-black-text);
        @include layout(row, center, flex-start);
        cursor: pointer;
        a {
          @include font(20px, 400, $color-black-text);
        }
      }
    }
  }
}
