@import '../mixin';

button {
  border-style: none;
}

// 로그인 버튼
.btn__login {
  width: 122px;
  height: 104px;
  background: linear-gradient(180deg, #AEBED3 0%, #909EB1 100%);
  border-radius: 10px;
  @include font(20px, 400, $color-gray-1);
}


// 로그인 폼 - 회원가입 버튼
.login-form__link-register {
  border-bottom: 1px solid;
  text-decoration: none;
  margin-top: 10px;
  @include font(15px, 400, $color-gray-6);
}

// 회원가입 버튼 - 비활성화
.btn__register {
  width: 500px;
  height: 63px;
  background: linear-gradient(180deg, #7E7E7E 0%, #686867 100%);
  @include font(18px, 400, $color-gray-1);
  border-radius: 10px;
}

// 회원가입 - 이메일 인증 버튼
.btn__verify {
  width: 100px;
  height: 43px;
  background: linear-gradient(180deg, #7E7E7E 0%, #686867 100%);
  @include font(18px, 400, $color-gray-1);
  border-radius: 10px;
}