@import "../mixin";

input {
  border: 1px solid $color-gray-input;
  width: 339px;
  height: 43px;
  border-radius: 10px;
  text-indent: 10px;
  box-sizing: border-box;
  @include font(15px, 400, $color-gray-6);

  &::placeholder {
    @include font(15px, 400, $color-gray-4);
  }
}

select {
  border: 1px solid $color-gray-input;
  border-radius: 10px;
  height: 43px;
  text-indent: 10px;
  @include font(15px, 400, $color-gray-6);
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid $color-gray-input;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  margin: 16px 10px 16px 0;
}
input[id="checkbox"]:checked + label::after {
  content: url("/src/assets/icon/check.svg");
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  border-radius: 50px;
  left: 0;
  top: 0;
  background-color: $color-primary;
}

textarea {
  border: 1px solid $color-gray-input;
  border-radius: 10px;
  text-indent: 10px;
  box-sizing: border-box;
  @include font(15px, 400, $color-gray-6);

  &::placeholder {
    @include font(15px, 400, $color-gray-4);
  }
}

.login-form__checkbox {
  border-radius: 50%;
  width: 25px;
  appearance: none;
}

// 인증번호 입력 인풋
.input__code {
  border-style: none;
  border-radius: 0;
  border-bottom: 1px solid $color-gray-4;
  outline: none;
}

// 검색 인풋
.input__search {
  background-color: $color-gray-2;
  border-radius: 20px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.13);
  // transform: matrix(1, 0, 0, -1, 0, 0);
  width: 90%;
  height: 34px;
  box-sizing: border-box;
  padding: 0 48px 0 0;
  text-indent: 15px;
  &::placeholder {
    @include font(16px, 400, $color-gray-4);
  }
}
