@import '../mixin';

input {
  border: 1px solid $color-gray-input;
  width: 339px;
  height: 43px;
  border-radius: 10px;
  text-indent: 10px;
  box-sizing: border-box;
  &::placeholder {
    @include font(15px, 400, $color-gray-4)
  }
}

select {
  border: 1px solid $color-gray-input;
  border-radius: 10px;
  height: 43px;
  text-indent: 10px;
  @include font(18px, 400, $color-gray-6)
}



input[type="checkbox"] {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    margin-right: 8px;
}

.login-form__checkbox {
  border-radius: 50%;
  width: 25px;
  appearance: none;
}



